/* Bug */
.rf-bug__assignee-badge {
	margin-left: auto;
}
.rf-bug__assignee-badge::before { content: '@'; }
.rf-bug__body {
	font-size: 0.925rem;
	line-height: 1.65;
}
.rf-bug__body > header {
	margin-bottom: 0.75rem;
}
.rf-bug__body > header h1,
.rf-bug__body > header h2,
.rf-bug__body > header h3 {
	margin-top: 0;
}
.rf-bug__body > div > section {
	margin-top: 1rem;
	padding-top: 0.75rem;
	border-top: 1px solid var(--rf-color-border);
}
.rf-bug__body > div > section:first-child {
	margin-top: 0.75rem;
}
