/* Grid */
.rf-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1.5rem;
	margin: 1.5rem 0;
}
.rf-grid__item p:first-child {
	margin-top: 0;
}
.rf-grid__item p:last-child {
	margin-bottom: 0;
}
